/**{
    outline: solid red 1px
}*/

/* Estilos header */
header{
    padding: 10px;
    text-align: center
}


/* Estilos nav */
nav{
    padding: 10px;
    text-align: center;
    
}

ul{
    background: #FFAAAA;
    padding: 20px 0 20px 0;
    
}

li{
    background: #AAB8FF;
    padding: 10px 30px 10px 30px;
    display: inline;
}

a{
    
    text-decoration:none;
}

li:hover{
    background-color: #AAFFB3;
}

/* Estilos article */

/* Estilos img */
img{
    display: block;
    margin: 25px auto;
}

/* Estilos aside */
aside{
    padding: 10px;
    text-align: center
}
 
/* Estilos footer */
footer{
    padding: 10px;
    text-align: center
}