/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul,ol{
	list-style: none;
}

/* Estilos header */
header{
	width: 100%;
    padding: 20px;
    background: #292828;
    border-bottom: 5px solid #66cc33;

    /* FlEXBOX */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
	font-family: Joystix;
}

header h1 a{
	color: #fff;
}

header h1 span{
	color: #66cc33;
}

header .menu-header a{
	color: #fff;
}

header .menu-header a:hover{
	color: #66cc33;
}

header .menu-header a:first-child{
	margin-right: 10px;
}



/* Estilos envoltorio principal (Envuelve las etiquetas nav, section y aside) */
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	border: 1px solid #000;
	border-top: none;
}

/* Estilos nav */
nav{
	background: #292828;
	width: 100%;
	//margin-top: 30px;
}

nav ul{
	/* FlEXBOX */
	display: flex;
}

nav ul li{
	/* FlEXBOX */
	flex: auto;
}

nav ul li a{
	text-align: center;
	line-height: 3;
	color: #fff;
	display: block;
}

nav ul li a:hover{
	background: #3ead47;
}


/* Slider */
.slider{
	width: 100%;
	height: 300px;
}


/* CONSOLAS */
.consoles{
	padding: 10px;
}
.console{
	padding: 10px;
	border-right: 1px solid #E0E0E0;
}
.console:last-child{
	border-right: none;
}
.consoles .interno{
	display: flex;
}

.consoles .interno img{
	width: 100px;
	float: left;
	display: block;
	margin-right: 15px;
}

.consoles .interno .texbox h3,p{
	color: #000;
}
.consoles .interno .texbox h3{
	margin-bottom: 5px;
}
.consoles .interno .texbox p:hover{
	color: #5A5555;
}
.consoles .interno .texbox h3:hover{
	color: #5A5555;
}



/* Contenido principal (Envoltorio de las etiquetas section y aside) */
.contenido{
	/* FlEXBOX */
	display: flex;
}

/* Section que envuelve las entradas (article) */
.contenido .main{
	border-right: 1px solid #E0E0E0;
	padding: 10px;

	/* FlEXBOX */
	flex: 1 1 70%;
}

article img{
	width: 50%;
}
/* Article */
.article-entry{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;

	/* FlEXBOX */
	display: flex;
}

.main .article-entry:last-child{
	border-bottom: none;
}

.image-preview{
	background: tomato;
	width: 50%;
	margin-right: 10px;
	
	/* FlEXBOX */
	flex: 0 0 300px;
	align-self: center;
}

.image-preview img{
	width: 100%;
}

.content-preview{
	//background: steelblue;
	/* FlEXBOX */
	flex: 1;
}
.article-tittle{
	font-size: 1.5em;
}
.options .options-social{
	display: inline;
	line-height: 2;
}

/* Iconos compartir de los articulos */
.options .options-social a{
	color: #55ACEE;
	font-size: 1.3em;
}

.options .options-social a:first-child{
	color: #3b5998;
}

.options .options-social a:last-child{
	color: #dd4b39;
}

.options .read-more{
	background: #66cc33;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	float: right;
}

.options .read-more:hover{
	background: #5BB32E;
}

/* Estilos aside */
aside{
	flex: 1 1 30%;
}

aside div{
	background: #B3C613;
	height: 150px;
	margin: 10px;
}

/* estilos fooder */
footer{
	
}
/* Responsive design */
@media screen and (max-width: 1000px){
	.contenido{
		flex-direction: column;
	}
}


@media screen and (max-width: 720px){
	.contenedor{
		width: 100%;
	}

	.consoles .interno img{
		float: none;
		margin-right: 0;
		margin: auto;
	}

	.consoles .interno .texbox{
		text-align: center;
	}

}

@media screen and (max-width: 600px){
	.article-entry{
		flex-direction: column;
	}

	.image-preview{
		width: 100%;
		flex: 0 0 100px;
	}

	.texbox{
		text-align: center;
	}

	aside div{
		display: none;
	}
}

@media screen and (max-width: 400px){
	.consoles .interno{
		flex-direction: column;
	}

	.consoles .interno img{
		float: left;
		margin-right: 15px;
	}

	.console{
		padding: 10px;
		border-bottom: 1px solid #E0E0E0;
		border-right: none;
	}
}



