<footer>
  <section class="final-last-footer">
        <div class="footer-child social">
          <h3 class="tittle-style">Solo<span>Juegos</span></h3>
          <p>Aenean sodales eros ac scelerisque sagittis. Aliquam porta consectetur blandit. Nulla sed augue nisl. Vivamus pulvinar ullamc orper malesuada.</p>
          <p>Suspendisse ornare velit eget dolor fringilla, et imperdiet ipsum convallis. Integer faucibus, felis nec lobortis hendrerit, augue mi mattis massa, vitae lobortis neque nunc ut eros. Donec massa lectus</p>
        </div>
        <div class="footer-child contacto">
          <h3 class="footer-tittle-entry">ÚLTIMOS ARTÍCULOS</h3>
          <section class="last-articles">
            <img class="last-image-preview" src="img/sw.jpeg" alt="" />
            <a href="#">Ya está disponible la actualización gratuita de marzo de Star Wars: Battlefront</a>
          </section class="last-articles">
          <section class="last-articles">
            <img class="last-image-preview" src="img/lionhead.jpg" alt="" />
            <a href="#">Microsoft cancela Fable Legends y negocia el cierre de Lionhead Studios</a>
          </section>
          <section class="last-articles">
            <img class="last-image-preview" src="img/por.jpg" alt="" />
            <a href="#">Ediciones de Consolas solo para Nostalgicos</a>
          </section>
        </div>
        <div class="footer-child gallery">
          <h3 class="footer-tittle-entry">ÚLTIMAS IMÁGENES</h3>
          <section class="last-images">
            <div class="gallery-row">
              <img src="img/zelda.jpg" alt="">
              <img src="/img/EURO.jpg" alt="">
              <img src="/img/sf.jpg" alt="">
            </div>
            <div class="gallery-row">
              <img src="/img/mg.jpg" alt="">
              <img src="/img/sw.jpeg" alt="">
              <img src="/img/por.jpg" alt="">
            </div>
          </section>
        </div>
  </section>
  <div class="footer-legal">
    <p>Copyright (c) 2016 Copyright Holder All Rights Reserved.</p>
    <ul class="legal-social">
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-google-plus"></i></a></li>
      <li><a href="#"><i class="icon-youtube-play"></i></a></li>
      <li><a href="https://github.com/TheLoneGunmen" target="_blank"><i class="icon-github"></i></a></li>
    </ul>
  </div>
</footer>
